@font-face{
   font-family: "asaraf";
   src: url("../asste/font/Lato/Lato-Regular.ttf");
}
 
body{
   background-color: #0f1931;
   font-family: "asaraf";
}
.underline{
    border-bottom: 1px solid white !important;
    width: 30px;
}
 .hove:hover .underline{
    width: 80px;
    transition: all 1s;
}
.m:hover{
    color: white!important;
 }
 .cu:hover{
    color: red !important;
    cursor: pointer;
    transition: all 1s ease-out;
 }
 .fs{
    font-size: 20px;
 }
 .border{
    border: none;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px;
    color: aquamarine;
    background-color: rgb(23,50,71);
 }
 .bor:hover{
    background-color: rgba(30,47,65,0.52);
    transition: all 1s !important;
    cursor: pointer;
    color: aquamarine;

 }
 .posi{
   position: fixed;
 }

 @media(max-width:992px) {
   .posi{
      background-color: rgb(15, 23, 42);
      width: 100%;
      top: -90px;
   }
   .hover{
      margin-top: 270px;
   }
   .top{
      margin-top: -190px;
   }
   
 }